body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
header {
  background: #c2185b;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
main {
  padding: 1rem;
}
.produtos {
  display: flex;
  gap: 1rem;
}
.produto {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  width: 200px;
}
button {
  padding: 10px;
  background-color: #c2185b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  margin-top: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #edf1f2;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 60px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.left-panel {
  background: linear-gradient(to right, #d32f2f, #b71c1c); /* vermelho degradê */
  color: white;
  flex: 1;
  padding: 60px 40px;
  text-align: center;
}

.left-panel h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.left-panel p {
  font-size: 16px;
  margin: 5px 0;
}

.btn-outline {
  margin-top: 30px;
  padding: 12px 40px;
  border: 1px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.right-panel {
  background: white;
  flex: 1;
  padding: 60px 40px;
  text-align: center;
}

.right-panel h2 {
  color: #b71c1c;
  font-size: 28px;
  margin-bottom: 15px;
  text-transform: lowercase;
}

.social-icons {
  margin: 20px 0;
}

.social-icons i {
  color: #b71c1c;
  border: 1px solid #b71c1c;
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.right-panel p {
  margin: 10px 0 20px;
  color: #555;
}

form input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  background-color: #edf1f2;
}

.btn-fill {
  background-color: #b71c1c;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}
